<a href="https://colab.research.google.com/github/Kanaliha/Kaggle/blob/main/Datasets/1000miles/1000miles.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1000 Miles

## Read info from web

In [39]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

df_columns = ['year','day','route','sms']
sms_df = pd.DataFrame(columns=df_columns)

for day in range(10):

  URL = f"https://www.1000miles.cz/2022-den-{day}"
  page = requests.get(URL)


  soup = BeautifulSoup(page.content, "html.parser")
  result = soup.find(id=f"sms_sever_2022den{day}")
  if not result:
    print(f"No valid output for {URL}")
    continue

  sms_north = result.text # all in one string
  sms_north = sms_north.split('\n') # split by newlines
  sms_north = [s for s in sms_north if s.startswith('[')] # remove invalid lines

  # add to dataframe
  df = pd.DataFrame({
      'sms' : sms_north,
      'year' : 2022,
      'day' : day,
      'route' : 'N'
    })
  sms_df = sms_df.append(df, ignore_index=True)



  display(sms_df)

    year day route                                                sms
0   2022   0     N  [41] Pavel Hnyk (111.89 km, 22:04:56): P8M7E9 ...
1   2022   0     N  [173] Tomáš Fabián (94.41 km, 19:57:34): P9M9E...
2   2022   0     N  [73] Jan Lesák (88.35 km, 21:04:11): P7M7E7 Ko...
3   2022   0     N  [90] Michael Kazimiers (86.23 km, 19:43:37): P...
4   2022   0     N   [131] Josef Magera (86.18 km, 19:54:28): P7M7E10
..   ...  ..   ...                                                ...
63  2022   0     N  [139] Marek Ondra (17.17 km, 19:45:55): P9M9E9...
64  2022   0     N  [118] Karel Uher (17.14 km, 21:00:37): P7M9E9 ...
65  2022   0     N  [21] Jitka Frankeová (17.14 km, 21:19:50): Psy...
66  2022   0     N  [140] Martin Parůžek (0.91 km, 13:21:59): P9M9...
67  2022   0     N  [143] Roman Švach (0.00 km, 20:04:30): P7M9E9 ...

[68 rows x 4 columns]

No valid output for https://www.1000miles.cz/2022-den-1

     year day route                                                sms
0    2022   0     N  [41] Pavel Hnyk (111.89 km, 22:04:56): P8M7E9 ...
1    2022   0     N  [173] Tomáš Fabián (94.41 km, 19:57:34): P9M9E...
2    2022   0     N  [73] Jan Lesák (88.35 km, 21:04:11): P7M7E7 Ko...
3    2022   0     N  [90] Michael Kazimiers (86.23 km, 19:43:37): P...
4    2022   0     N   [131] Josef Magera (86.18 km, 19:54:28): P7M7E10
..    ...  ..   ...                                                ...
218  2022   2     N  [147] Marek Dvořák (97.23 km, 19:51:30): P6M6E...
219  2022   2     N  [21] Jitka Frankeová (92.67 km, 18:58:34): Psy...
220  2022   2     N  [118] Karel Uher (64.36 km, 12:11:47): Jovsa. ...
221  2022   2     N  [2] Roman Vojtíšek (64.36 km, 13:32:15): odstu...
222  2022   2     N  [8] Macule Kindlová (54.13 km, 05:39:37): Kone...

[223 rows x 4 columns]

     year day route                                                sms
0    2022   0     N  [41] Pavel Hnyk (111.89 km, 22:04:56): P8M7E9 ...
1    2022   0     N  [173] Tomáš Fabián (94.41 km, 19:57:34): P9M9E...
2    2022   0     N  [73] Jan Lesák (88.35 km, 21:04:11): P7M7E7 Ko...
3    2022   0     N  [90] Michael Kazimiers (86.23 km, 19:43:37): P...
4    2022   0     N   [131] Josef Magera (86.18 km, 19:54:28): P7M7E10
..    ...  ..   ...                                                ...
365  2022   3     N    [60] Jiří Šantavý (220.54 km, 19:28:56): P6M6E8
366  2022   3     N  [21] Jitka Frankeová (134.60 km, 19:41:15): Ps...
367  2022   3     N  [100] Pavla Dřímalová (97.23 km, 09:09:44): P0...
368  2022   3     N  [128] Jakub Janík (97.23 km, 09:25:34): P8M0E6...
369  2022   3     N  [147] Marek Dvořák (97.23 km, 09:08:54): P0M7E...

[370 rows x 4 columns]

     year day route                                                sms
0    2022   0     N  [41] Pavel Hnyk (111.89 km, 22:04:56): P8M7E9 ...
1    2022   0     N  [173] Tomáš Fabián (94.41 km, 19:57:34): P9M9E...
2    2022   0     N  [73] Jan Lesák (88.35 km, 21:04:11): P7M7E7 Ko...
3    2022   0     N  [90] Michael Kazimiers (86.23 km, 19:43:37): P...
4    2022   0     N   [131] Josef Magera (86.18 km, 19:54:28): P7M7E10
..    ...  ..   ...                                                ...
500  2022   4     N  [60] Jiří Šantavý (280.87 km, 19:48:12): P7M8E...
501  2022   4     N  [105] Jindřich Prchlík (265.63 km, 17:07:12): ...
502  2022   4     N  [69] Zdeněk Tiefenbach (224.55 km, 18:50:53): ...
503  2022   4     N  [21] Jitka Frankeová (170.53 km, 20:15:41): Ps...
504  2022   4     N  [23] Martin Bulíček (0.38 km, 21:17:35): P9M9E...

[505 rows x 4 columns]

     year day route                                                sms
0    2022   0     N  [41] Pavel Hnyk (111.89 km, 22:04:56): P8M7E9 ...
1    2022   0     N  [173] Tomáš Fabián (94.41 km, 19:57:34): P9M9E...
2    2022   0     N  [73] Jan Lesák (88.35 km, 21:04:11): P7M7E7 Ko...
3    2022   0     N  [90] Michael Kazimiers (86.23 km, 19:43:37): P...
4    2022   0     N   [131] Josef Magera (86.18 km, 19:54:28): P7M7E10
..    ...  ..   ...                                                ...
644  2022   5     N    [60] Jiří Šantavý (339.82 km, 19:39:26): P8M8E6
645  2022   5     N  [105] Jindřich Prchlík (327.89 km, 17:51:15): ...
646  2022   5     N  [136] Karel Menšík (298.85 km, 19:44:15): P5M5...
647  2022   5     N  [136] Karel Menšík (298.85 km, 19:25:58): P5M5...
648  2022   5     N  [21] Jitka Frankeová (193.54 km, 18:55:47): Ps...

[649 rows x 4 columns]

     year day route                                                sms
0    2022   0     N  [41] Pavel Hnyk (111.89 km, 22:04:56): P8M7E9 ...
1    2022   0     N  [173] Tomáš Fabián (94.41 km, 19:57:34): P9M9E...
2    2022   0     N  [73] Jan Lesák (88.35 km, 21:04:11): P7M7E7 Ko...
3    2022   0     N  [90] Michael Kazimiers (86.23 km, 19:43:37): P...
4    2022   0     N   [131] Josef Magera (86.18 km, 19:54:28): P7M7E10
..    ...  ..   ...                                                ...
783  2022   6     N  [105] Jindřich Prchlík (391.51 km, 18:03:15): ...
784  2022   6     N  [34] Karolína Česáková (369.59 km, 18:19:49): ...
785  2022   6     N  [34] Karolína Česáková (369.59 km, 18:22:24): ...
786  2022   6     N  [60] Jiří Šantavý (369.59 km, 19:47:46): P8M6E...
787  2022   6     N  [21] Jitka Frankeová (220.00 km, 20:11:04): Ps...

[788 rows x 4 columns]

No valid output for https://www.1000miles.cz/2022-den-7

     year day route                                                sms
0    2022   0     N  [41] Pavel Hnyk (111.89 km, 22:04:56): P8M7E9 ...
1    2022   0     N  [173] Tomáš Fabián (94.41 km, 19:57:34): P9M9E...
2    2022   0     N  [73] Jan Lesák (88.35 km, 21:04:11): P7M7E7 Ko...
3    2022   0     N  [90] Michael Kazimiers (86.23 km, 19:43:37): P...
4    2022   0     N   [131] Josef Magera (86.18 km, 19:54:28): P7M7E10
..    ...  ..   ...                                                ...
908  2022   8     N  [85] Jan Vozdecký (513.50 km, 19:27:27): P9M9E...
909  2022   8     N  [56] Petr Turok (473.75 km, 08:54:37): VZDÁVÁM...
910  2022   8     N  [34] Karolína Česáková (459.10 km, 18:59:35): ...
911  2022   8     N    [60] Jiří Šantavý (459.10 km, 18:59:11): P8M8E8
912  2022   8     N  [21] Jitka Frankeová (266.34 km, 18:52:07): Ps...

[913 rows x 4 columns]

No valid output for https://www.1000miles.cz/2022-den-9

In [40]:
sms_df

     year day route                                                sms
0    2022   0     N  [41] Pavel Hnyk (111.89 km, 22:04:56): P8M7E9 ...
1    2022   0     N  [173] Tomáš Fabián (94.41 km, 19:57:34): P9M9E...
2    2022   0     N  [73] Jan Lesák (88.35 km, 21:04:11): P7M7E7 Ko...
3    2022   0     N  [90] Michael Kazimiers (86.23 km, 19:43:37): P...
4    2022   0     N   [131] Josef Magera (86.18 km, 19:54:28): P7M7E10
..    ...  ..   ...                                                ...
908  2022   8     N  [85] Jan Vozdecký (513.50 km, 19:27:27): P9M9E...
909  2022   8     N  [56] Petr Turok (473.75 km, 08:54:37): VZDÁVÁM...
910  2022   8     N  [34] Karolína Česáková (459.10 km, 18:59:35): ...
911  2022   8     N    [60] Jiří Šantavý (459.10 km, 18:59:11): P8M8E8
912  2022   8     N  [21] Jitka Frankeová (266.34 km, 18:52:07): Ps...

[913 rows x 4 columns]