<a href="https://colab.research.google.com/github/Kanaliha/Kaggle/blob/main/Datasets/1000miles/1000miles.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1000 Miles

## Read info from web

In [86]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
from tqdm import tqdm

In [88]:
class Scraper:
  # def __init__(self):

  def __normal_day(day) : 
    return f'-den-{day}'

  site = "https://www.1000miles.cz/"
  paths = {
      # 2021 : {
      #     0: __normal_day(0),
      #     1: '-den-1-1572',
      #     2: __normal_day(2),
      #     3: __normal_day(3),
      #     4: __normal_day(4),
      #     5: __normal_day(5),
      #     6: __normal_day(6),
      #     7: __normal_day(7),
      #     8: __normal_day(8),
      #     9: __normal_day(9),
      #     10: __normal_day(10),
      #     11: __normal_day(11),
      #     12: __normal_day(12),
      #     13: __normal_day(13),
      #     14: __normal_day(14),
      #     15: __normal_day(15),
      #     16: __normal_day(16),
      #     17: __normal_day(17),
      #     18: __normal_day(18),
      #     19: __normal_day(19),
      #     20: __normal_day(20)
      # },


      2022 : {
          0: __normal_day(0),
          1: '-den-1-1815',
          2: __normal_day(2),
          3: __normal_day(3),
          4: __normal_day(4),
          5: __normal_day(5),
          6: __normal_day(6),
          7: '-den-7-1851',
          8: __normal_day(8),
          9: __normal_day(9),
          10: __normal_day(10),
          11: __normal_day(11),
          12: __normal_day(12),
          13: __normal_day(13),
          14: __normal_day(14)
          }
  }

  def get_url(self,year,day):
    day_path = self.paths[year][day]

    return f'{self.site}{year}{day_path}'

  def get_page_element(self,url,id):
    page = requests.get(url)
    soup = BeautifulSoup(page.content, "html.parser")
    result = soup.find(id=id)
    assert result, f'Element: {id} not found on URL: {url}'

    return result.text
    
  def get_route_element_id(self, year, day, route):
    if route == 'N':
      return f"sms_sever_{year}den{day}"
    elif route == 'S':
      return f"sms-jih_{year}den{day}"
    else: 
      assert False, f'Invalid route: {route}'

  def get_msgs(self,year,day,route):
    routes = ['N', 'S']
    assert route in routes, 'Invalid route'
    url = self.get_url(year,day)
    id = self.get_route_element_id(year,day,route)
    raw = self.get_page_element(url,id)

    split = raw.split('\n') # split by newlines
    sms_arr = [s for s in split if s.startswith('[')] # remove invalid lines

    return sms_arr

In [89]:
# scraper = Scraper()

# print(scraper.paths[2021][0])

# scraper.get_url(2021,5)

In [90]:
scraper = Scraper()
# print(scraper.get_msgs(2022,3,'N'))

# prepare empty df
df_columns = ['year','day','route','sms']
sms_df = pd.DataFrame(columns=df_columns)

for y in scraper.paths.keys():
  print(y)
  for d in tqdm(scraper.paths[y]):
    for r in ['N','S']:
      sms = scraper.get_msgs(y,d,r)

      df = pd.DataFrame({
          'sms' : sms,
          'year' : y,
          'day' : d,
          'route' : r
        })
      sms_df = sms_df.append(df, ignore_index=True)

display(sms_df)

2022

100%|██████████| 15/15 [00:11<00:00,  1.35it/s]

      year day route                                                sms
0     2022   0     N  [41] Pavel Hnyk (111.89 km, 22:04:56): P8M7E9 ...
1     2022   0     N  [173] Tomáš Fabián (94.41 km, 19:57:34): P9M9E...
2     2022   0     N  [73] Jan Lesák (88.35 km, 21:04:11): P7M7E7 Ko...
3     2022   0     N  [90] Michael Kazimiers (86.23 km, 19:43:37): P...
4     2022   0     N   [131] Josef Magera (86.18 km, 19:54:28): P7M7E10
...    ...  ..   ...                                                ...
3263  2022  14     S  [634] Jan Nový (847.39 km, 15:41:02): CP2 pokr...
3264  2022  14     S  [634] Jan Nový (847.39 km, 19:31:12): jdu z CP...
3265  2022  14     S  [677] František Takács (847.39 km, 14:29:52): ...
3266  2022  14     S  [677] František Takács (847.39 km, 19:37:06): ...
3267  2022  14     S  [581] Martin Macek (829.85 km, 20:20:50): P9M9...

[3268 rows x 4 columns]